$huge-device: 1440px;
$large-device: 1140px;
$medium-device: 960px;
$small-device: 540px;

@mixin mediaSize($size) {
  @if $size == huge {
    @media screen and (min-width: #{$huge-device}) {
      @content;
    };
  }

  @else if $size == large {
    @media screen and (min-width: #{$large-device}) and (max-width: #{$huge-device - 1}) {
      @content;
    };
  }

  @else if $size == medium {
    @media screen and (min-width: #{$medium-device}) and (max-width: #{$large-device - 1}) {
      @content;
    };
  }

  @else if $size == intermediary {
    @media screen and (min-width: #{$small-device}) and (max-width: #{$medium-device - 1}) {
      @content;
    };
  }

  @else if $size == small {
    @media screen and (max-width: #{$small-device - 1}) {
      @content;
    };
  }
}

